.app-container {
  display: flex;
}

.content {
  width: 100%;
}


.sidebar {
  min-height: 100vh;
}

.post-card {
  margin: 20px 20px;
}

.hashtag {
  margin: 3px;
  padding: 8px;
}

.reactions {
  margin: 15px 0 0 !important;
}

.create-post {
  width: 80%;
  margin: 50px 10%;
}

.welcome-message {
  margin: 100px 0
}